<% if @user.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user, url: {action: :create} do |f| %>
<p>
  <%= f.label :uid, 'ユーザID' %>
  <%= f.text_field :uid %>
</p>
<p>
  <%= f.label :pass, 'パスワード' %>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation,'パスワード（確認）' %>
  <%= f.password_field :password_confirmation %>
</p>
<p>
  <%= f.submit '登録' %>
</p>
<% end %>

<p><%= link_to '戻る', :back %>
